<h1>Please select the guest you wish to message</h1>
<form>
  <label for="guestSelect">Guest Name:</label>
  <select id="guestSelect" required="required" ng-model="selectedGuest" ng-options="guest as guest.firstName + ' ' + guest.lastName for guest in guest.guests">
    <option style="display:none" value="">select a guest</option>
  </select>
  <md-button class="md-raised md-primary" ng-click="guest.generateMessage(selectedGuest)">
    <span>Generate Message<span>
  </md-button>
  <md-button class="md-raised md-primary" ng-click="guest.backToCompany()">
    <span>Back to Companies</span>
  </md-button>
</form>
</br>
<div class="">
  <md-card ng-if="selectedGuest">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Guest/Company Info</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>
        {{selectedGuest.firstName}} {{selectedGuest.lastName}}
        is staying in room {{selectedGuest.reservation.roomNumber}},
        at {{guest.company.company}} in {{guest.company.city}}, where
        it is currently {{ guest.time.timezoneTime | date:'medium'}}
        <span ng-if="guest.time.timezoneDst">
           (Daylight Savings Time is in effect)
        </span>
       </p>
    </md-card-content>
  </md-card>
</div>
