body {
  text-align: center;
}
header {
  text-align: left;
  background-color: #195cab;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}
header img {
  max-width: 200px;
  max-height: 200px;
}
main {
  margin: 10% 20%;
}
footer {
  width: 100%;
  position: static;
  bottom: 0px;
}
.md-button.md-raised {
  background-color: #195cab !important;
}
#welcome {
  font-size: 50px;
}
